.card {
    width: 312px;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid #D58C51;
    padding: 22px 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover > .wrapper > .text,
.card:hover > .card-description >.text {
    color: #D58C51;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: white;
    overflow: auto;
}

.title {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.card-description {
    display: flex;
    flex-direction: column;
    height: 230px;
}


.wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}


.addToCartBtn {
    background-color: #161516;
    border: white solid 2px ;
    border-radius: 50%;
    color: #fff;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.addToCartBtn:hover {
    background-color: orange;
}

.modal {
    display: flex;
    justify-content: space-between;
    height: 450px;
    align-items: center;
}

.modal > img {
    width: 400px;
}

.modal-description {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.addToCartBtnModal {
    width: 150px;
    height: 50px;
    background-color: #D58C51;
    border: none;
    border-radius: 3px;
    margin-left: 40px;

}

.ReactModal__Body--open {
    overflow: hidden;
    background-color: #000000;
}

.ReactModal__Overlay .ReactModal__Overlay--after-open  {
    background-color: #282c34;
}

.ReactModal__Overlay--after-open {
    background-color: #282c34;
}




