.basket-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 10px 30px;
    margin: 0 auto;
    justify-content: space-between;
    height: calc(100vh - 190px);
    overflow: auto;

}
