.header > h1 {
    color: white;
    width: 335px;
    height: 38px;
    left: 70px;
    top: 54px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    /* identical to box height */

    text-transform: uppercase;
}

.header {
    /*margin: 80px 70px;*/
    display: flex;
    justify-content: space-between;
    gap: 35px;
    flex-wrap: wrap;
    /*padding: 0 180px;*/
    /*width: 1600px;*/
    /*position: fixed;*/
    top: 0;
}

.order {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    padding: 5px;

}

.basket > .image {
    width: 50px
}

.basket {
    display: flex;
    align-items: center;
    gap: 15px;


}

.order > p {
    margin: 0px;
}

.btn-logout {
    width: 200px;
    height: 42px;
    border: 1px solid #D58C51;
    background: rgba(0, 0, 0, 0);
    font-family: 'Montserrat' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #D58C51;
}