.basket-header {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    padding: 10px 30px;
    margin: 0 auto;

}

.title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 38px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    padding: 10px 30px;


}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: white;
}

.basket-wrapper {
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    padding: 10px 30px;
    margin: 0 auto;
}