.footer-wrapper {
    display: flex;
    justify-content: space-around;
}

.order-btn {
    width: 200px;
    height: 42px;
    left: 950px;
    top: 704px;
    background: #D58C51;
    border-radius: 5px;
}